
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/626aa92a835b5579e36efec1af33b4e9314c2fe6/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/626aa92a835b5579e36efec1af33b4e9314c2fe6/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


