/* @group Welcome */
/* line 6, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sc-theme .sc-view.sc-toolbar-view.ace.light {
  -webkit-transform: translate3d(0px, 0px, 10px);
  -webkit-box-shadow: none;
}

/* line 11, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sc-theme .sc-view.sc-label-view.list-item {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #999;
}

/* line 17, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sc-toolbar-view .embossed {
  font-size: 22px;
}

/* line 21, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sample_controls .sc-form-row-view .sc-form-label {
  -webkit-transform: translate3d(0px, 0px, 1px);
  font-weight: bold;
  color: #555;
  text-shadow: 0px 1px 1px white;
}

/* line 28, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sc-label-view.header {
  font-size: 24px;
  color: #555;
  text-shadow: 0px 1px 1px white;
  padding-bottom: 10px;
}

/* line 35, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.sc-label-view.welcome-tab {
  padding: 30px;
  background-color: white;
}

/* line 40, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.welcome-tab h1 {
  font-size: 48px;
  line-height: 1;
  margin-top: 30px;
  font-weight: normal;
  letter-spacing: -2px;
  color: black;
}

/* line 49, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.welcome-tab p {
  color: #333;
  font-size: 14px;
}

/* line 57, ././tmp/chance/a2017a4f6d095b292b59fb032d809e1a.scss */
.ace.test-controls.dark.workspace {
  background: black;
}
